:root {
  --title-color: #212121;
  --hover-color: #2196f3;
  --text-color: #757575;
  --background-color-hero-footer: #2f303a;
  --background-color-main: #ffffff;
  --bacground-color-image: #f5f4fa;
}

body {
  background-color: var(--background-color-main);
  font-family: Roboto, sans-serif;
}
/* section "header" */
.header-logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  text-decoration: none;
}
.logo-web {
  color: var(--hover-color);
}
.logo-studio {
  color: #000000;
}
.header-list {
  list-style: none;
}
.header-item {
  text-decoration: none;
  color: var(--title-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.current {
  color: var(--hover-color);
}
.header-item:hover,
.header-item:focus {
  color: var(--hover-color);
}
.header-contacts {
  list-style: none;
}
.header-contact {
  text-decoration: none;
  color: var(--text-color);
}
.header-contact:hover,
.header-contact:focus {
  color: var(--hover-color);
}
/* section "hero" */
.hero {
  background-color: var(--background-color-hero-footer);
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: var(--background-color-main);
}
.hero-button {
  font-family: inherit;
  width: 200px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: var(--background-color-main);
  background-color: var(--hover-color);
}
.hero-button:hover,
.hero-button:focus {
  background-color: #188ce8;
}
/* section "our benefits" */
.benefits-title {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: insert(100%);
  margin: -1px;
}
.benefits-list {
  list-style: none;
}
.item-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--title-color);
  text-transform: uppercase;
}
.text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
/* section "work" */
.about {
  background-color: var(--bacground-color-image);
}
.about-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--title-color);
}
.about-list {
  list-style: none;
}
/* section "team" */
.team {
  background-color: var(--bacground-color-image);
}
.team-members {
  list-style: none;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--title-color);
}
.member-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--title-color);
}
.member-profession {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
/* section "footer" */
.footer {
  background-color: var(--background-color-hero-footer);
}
.footer-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--hover-color);
  text-decoration: none;
}
.studio {
  color: var(--background-color-main);
}
.footer-contacts {
  list-style: none;
  font-style: normal;
}
.adress-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--background-color-main);
  text-decoration: none;
}
.footer-contact {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
/* страница "Портфолио" */
.filter-btn {
  list-style: none;
}
.btn {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--title-color);
  background-color: var(--bacground-color-image);
  cursor: pointer;
}
.btn:hover,
.btn:focus {
  background-color: var(--hover-color);
  color: var(--background-color-main);
}
.portfolio {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: insert(100%);
  margin: -1px;
}
.portfolio-list {
  list-style: none;
}
.portfolio-item {
  text-decoration: none;
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}
.portfolio-text {
  font-family: "Roboto";
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
